/************ Theme / Components / BACK TO TOP ***********/

// Buttons
.back-to-top {
	//display: none;
	/*position: fixed;
	right: 2%;
	top: 65%;	
	z-index: 9000;
	//transition: opacity .25s ease-in-out;
	opacity: 0;
	span {
		@extend .accessibility;
	}*/
	border-bottom: 0;
	i {
		//@include bb_fontAwesome($icon : 'caret-square-o-up', $font-size : 5em);
		/*color: white;
		background-color: gray;
		font-size: 3em;
		padding: 0.75rem;
		border-radius: 10px;*/
		@extend %fa;
		@extend %fa-arrow-circle-up;
		opacity: 0.6;
		font-size: 2.5em;
	}
	&:hover {
		i {
			//background-color: $nobel;
			opacity: 0.9;
		}
	}
}
.back-to-top.visible {
	//display: block;
	//opacity: 1;
	@extend %bb-animation--fade-in;
}